    # Node.js
node_modules/

# TypeScript
dist/
*.tsbuildinfo

# Logs
*.log

# OS-specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# IDE/Editor-specific files
.vscode/          # VSCode settings
.idea/            # JetBrains IDEs (e.g., IntelliJ, WebStorm)
*.sublime-project  # Sublime Text
*.sublime-workspace # Sublime Text
*.iml             # IntelliJ IDEA

# NPM package files
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage and Jest testing
coverage/
*.lcov

# TypeScript
*.tsbuildinfo
